<div class="row mt-5">
    <div class="col-1">

    </div>
    <div class="col-lg-4 col-md-8 mt-3 pt-4 profpic mb-3 ">
        <div class="text-center">
            <img src="assets/profile5.png" class="img-fluid rounded-circle shadow-1-strong" alt="...">
        </div>
        <div class="socialicons bfont display-5 d-flex justify-content-center mt-5">
            <a href="#" class="btn p-1 bfont"><i class="fa-brands display-5 fa-square-facebook  "></i></a>
            <a href="#" class="btn p-1 bfont"><i class="fa-brands fa-linkedin display-5 "></i></a>
            <a href="#" class="btn p-1 bfont"><i class="fa-brands fa-square-twitter display-5 "></i></a>
            <a href="#" class="btn p-1 bfont"><i class="fa-brands fa-square-instagram display-5 "></i></a>
            <a href="#" class="btn p-1 bfont"><i class="fa-brands fa-square-github display-5"></i></a>
        </div>
    </div>

    <div class="col-1">

    </div>
    <div class="col-lg-5 col-md-8">
        <div class="welcome">
            <h1 class="bfont"> I'M HUSSEIN IBRAHEIM</h1>
            <h3 class="bfont"> FULL STACK DEVELOPER </h3>

            <p class="myfontc mt-4">Software engineer student in Information Technology institute. Working with
                MERN stack. I'm always eager to learn and work with new technologies
            </p>
        </div>
        <div class="personal-information mt-5 ">
            <h2 class="myfontc">Personal Information</h2>

            <div class="part d-flex mt-3">
                <div class="title "> Phone : </div>
                <div class="title-m ms-2"> +201062349308</div>
            </div>

            <div class="part d-flex mt-1">
                <div class="title"> Email : </div>
                <div class="title-m ms-2"> hussein.ibraheim33@gmail.com</div>
            </div>

            <div class="part d-flex mt-1">
                <div class="title"> Website : </div>
                <div class="title-m ms-2">www.devhussein.com</div>
            </div>

            <div class="part d-flex mt-1">
                <div class="title"> Address : </div>
                <div class="title-m ms-2"> Monofya - Egypt</div>
            </div>

            <div class="part d-flex mt-1">
                <div class="title"> Job Status : </div>
                <div class="title-m ms-2"> Freelance </div>
            </div>
        </div>
    </div>

</div>