.footer {
    background: linear-gradient(rgba(107, 107, 107, 0.7), rgba(0, 0, 0, 0.7)), url("http://andreeabunget.co.uk/Img/footer.jpg");
    background-size: cover;

}


.home {
    color: #3d7b22
}