<div class="row">
    <div class="card me-5" style="width: 20rem;">
        <img width="200px" height="200px" class="card-img-top" [src]="productDetails?.ImageURL">
        <div class="card-body">
            <h5 class="card-title mb-5">{{productDetails?.name}}</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus ad molestiae quasi? Reiciendis tenetur
                iusto tempore obcaecati inventore, quidem, distinctio quis voluptatum illum alias nemo ipsum animi
                minus? Deserunt, veritatis?</p>
            <h5 class="card-title">Price in USD: {{productDetails?.price | currency :"USD"}}</h5>
            <button class="btn btn-danger ms-4 mt-3" (click)="goBack()">Go Back</button>
        </div>

    </div>

</div>